/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Nov 8, 2019, 1:33:01 PM
    Author     : palma
*/

.apppart {padding: 1px; border: 1px solid #808080; margin: 0px; background-color:#d0f0c0;}
.apppart-cosmetic {padding: 1px; border: 1px solid #aaaaaa; margin:0px; background-color:#33FFD7;}
.apppart-hidden {padding: 1px; border: 1px solid #aaaaaa; margin:0px; background-color:#FFD433;}
.apppart-deleted { padding: 1px; border: 1px solid #aaaaaa; margin:0px; background-color:#FF5533;}

a:link {color: blue; text-decoration: none;}
a:visited {color: blue; text-decoration: none;}
a:hover {color: gray; text-decoration: none;}
a:active {color: blue; text-decoration: none;}

table {border-collapse: collapse;}
table, th, td {border: 1px solid black;}

ul.topnav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

ul.topnav li {float: left;}

ul.topnav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

ul.topnav li a:hover:not(.navActive) {background-color: #111;} 

ul.topnav li a.navActive {background-color: #1469a9}

ul.topnav li.right {float: right;}

html {
    height: 100%;
    margin: auto;
}

body { text-align: center;}

.wrapper {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    text-align: center;
    min-height: 100%;
    padding-bottom: 2.5rem;    /* Footer height */
}

.contentLeft { outline: dotted; flex-grow: 1; }

.contentRight {
    display: flex;
    outline: dotted; 
    flex-grow: 2; 
    justify-content: center;
}

h1 {text-align: center;}

.footer {
    text-align: center;
    width: 99%;
    height: 2.5rem;            /* Footer height */
}